*{
    user-select: none;
    color: rgb(26, 146, 237);
}

.app {
    height: 100vh;
    color: #000;
}

.content {
    max-width: 1000px;
    /* background-color: #ffffff; */
    margin: 0 auto;
    padding: 5rem 0;
}

.search_panel {
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: #f5f5f5;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.397);
}